section{
    h2{
    background-color: rgb(255, 89, 0);
    border-radius: 10px;
    padding: 1rem;
    height: 120px;
    margin-inline: auto;
    position: relative;
    transition: all 0.4s ease-in;
    width: 200px;
    div {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    div:last-child{
        opacity: 0;
    }
    }
    h2:hover {
        transform: scale(1.1);
        cursor: pointer;
        background-color: #fffffffb;

    }
    h2:hover div:first-child {
        opacity: 0;
    }
    h2:hover div:last-child {
        opacity: 1;
    }
}