body {
    font: 500 1.2rem "Montserrat";
    margin: 0;
}
.navbar {
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    box-sizing: border-box;
    border: 2px solid #ededed;
    background-color: #fff;
    .title {
        margin-left: 30px;
        font-weight: bolder;
    }
    #sections {
        display: flex;
        height: 70px;
        overflow: hidden;
        margin: 0;
        box-sizing: border-box;
        transition: height 0.5s ease;
        .line {
            display: inline-block;
            color: #000 ;
            width: 120px;
            align-content: center;
            text-align: center;
            text-decoration: none;
            height: 70px;
            transition: background-color 0.4s ease-in, color 0.4s ease-in;
        
            &:hover {
                background-color: #9b59b6;
                color: #fff;
            }
        }
    }
}

#toggle{
    display: none;
}
label[for="toggle"]{
    position: relative;
    display: none;
    font-size: 2.4rem;
    color: #9b59b6;
    font-weight: bolder;
    &:hover {
        cursor: pointer;
    }
    &::after {
        content: "≡";
    }
}

@import "resolution"