li.line,a.line {
    display: none;
}
.btn.open {
    visibility: visible;
    text-decoration: none;
    color: #DC5B9F;
    box-sizing: border-box;
    font-size: 2rem;
    right: 15px;
}


.navbar {
    position: relative;
    z-index: 1000;
}