table(border=1)
    thead
        tr
            th fullnames
            th NumberPhones
    tbody
        tr
            td Homer Simpson
            td 001-4557-89
        tr
            td Marge Simpson 
            td 002-4567-90
        tr
            td Bart Simpson
            td 003-4569-92
            