body {
    background: url(https://v3.tailwindcss.com/_next/static/media/blog-post-form-dark@90.5b274bea.jpg);
    background-attachment: fixed;
}
.navcha {
    position: fixed;
        top: 10px;
        left: 10px;
        a:is(:link, :visited) {
            background-color: var(--color-2);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            opacity: .8;
            transition: all 0.2s ease-in;
            width: 35px;
            svg {
                width: 24px;
            }
        }
}
section {
    width: 800px;
    height: 800px;
    background-color: #fff9;
}
#wireframe {
    display: none;
}
#wireframe:target {
    display: block;
}

#screen2, #screen1,#screen3 {
    display: none;
    transition: all 0.4s ease-in;
    overflow: hidden;
}
#screen1:target, #screen2:target, #screen3:target {
    display: block;

}

.bg-custom1 {
    background-color: #0D1321;
}
.bg-custom2 {
    background-color: #1D2D44;
}
.bg-custom3 {
    background-color: #fd4556 ;
}
.bg-custom4 {
    background-color: #778da9;
}
.text-custom {
    color: #fff9;
}
form,h2 {
    transition: all 0.4s ease;
    
}
form:hover {
    backdrop-filter: blur(8px);
}
form:focus-within {
    h2 {
        color: #F9DC5C;
    }
}
.fill-custom {
    fill:#F9DC5C
}
.star:hover {
    cursor: pointer;
}

.floatbtn, .target {
    cursor: pointer;
}