extends inc/layout.pug

block title
    title 14 Inheritance
block content
    header
        h1 14 Inheritance
        p Covers how to use inheritance to avoid code repetition.
    section
        h3 Lorem ipsum dolor
        p(style="font-size: 1rem") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut earum, libero nostrum maxime hic odio consequatur rerum omnis perspiciatis quas similique, quibusdam temporibus debitis architecto eveniet quia, doloribus quod quam.