@media (max-width: 940px) {
  .navbar #toggle:checked ~ .equis::after {
    content: "X";
    font-size: 2rem;
    font-weight: 600;
  }
  .navbar #toggle:checked ~ #sections {
    height: 420px;
  }
  .navbar .title {
    text-wrap: nowrap;
  }
  .navbar label[for=toggle] {
    display: inline-block;
    position: absolute;
    right: 30px;
  }
  .navbar #sections {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: -1;
  }
  .navbar #sections:last-child {
    border-bottom: 2px solid #ededed;
  }
  .navbar #sections .line {
    padding-left: 35px;
    box-sizing: border-box;
    text-align: start;
    width: 100%;
  }
  .navbar #sections .line:first-child {
    margin-top: 70px;
  }
}
